<section class="hero is-info is-bold is-fullheight">
  <div class="hero-head">
    <%= render 'shared/nav' %>
  </div>

  <div class="hero-body">
    <%= render 'current', accounts: @accounts, my_expenses: @my_expenses %>
  </div>

  <footer class="hero-foot">
    <%= render 'shared/footer' %>
  </footer>
</section>
