<div class="container">
  <div class="content has-text-centered">
    <p>
      <span class="has-text-weight-bold">Lem</span>
      is created with
      <i class="fas fa-heart"></i>
      by
      <a href="https://hovancik.net/?utm_source=lem" class="has-text-white">Jan Hovancik</a>. The source code is availabe on
      <a href="https://github.com/hovancik/little_expense_manager" class="has-text-white">Github</a>.
      <br/>
      Icon made by
      <a href="https://www.shareicon.net/author/animals" class="has-text-white">
        animals</a>
      from
      <a href="https://www.flaticon.com" class="has-text-white">www.flaticon.com</a>
    </p>
  </div>
</div>
