<div class="container has-text-centered">
  <p class="image is-128x128" style="margin: auto">
    <%= image_tag 'lem256.svg' %>
  </p>
  <p class="title">
    lem
  </p>
  <p class="subtitle">
    little expense manager
  </p>
</div>
