<section class="hero is-info is-bold">
  <div class="hero-head">
    <%= render 'shared/nav' %>
  </div>

  <div class="hero-body">
    <%= render 'current', account: @account %>
  </div>

  <footer class="hero-foot">
    <%= render 'shared/footer' %>
  </footer>
</section>
